{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "parser": "typescript",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["clsx", "tw"],
  "overrides": [
    {
      "files": ["*.tsx", "*.ts", "*.jsx", "*.js"],
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": ["*.css", "*.scss"],
      "options": {
        "parser": "css"
      }
    }
  ]
}
